.btn{
    display: inline-block;
    border-radius: 4rem;
    text-transform: capitalize;
    margin-top: 1rem;
    padding: 0.35rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 900;
}
.btn-primary{
    transition: border-radius 0.2s ease-in-out;
}
.btn-light{
    color: var(--background-color);
    background-color: var(--light-color);
}
.btn-dark{
    color: var(--background-color);
    background-color: var(--primary-color);
}
.btn-light:hover, .btn-dark:hover{
    border-radius: 5px;
}
/* Button Secondary */
.btn-secondary{
    color: var(--primary-color);
    transition: underline 0.3s ease;
}
.btn-secondary-light{
    color: var(--background-color);
    transition: underline 0.3s ease;
}
.btn-secondary svg, .btn-secondary-light svg{
    margin-left: 0.2rem;
    vertical-align: middle;
}

.btn-secondary-light:hover,
    .btn-secondary:hover {
    text-decoration: underline;
}
.btn-secondary svg {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.3rem;
}