.card{
    max-width: 300px;
    padding: 1rem;
}
.card-header{
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
}
.card-header img{
    width: 5px;
    max-height: 100px;
}
.card-header .card-heading{
    margin-left: 1rem;
    line-height: 1.3;
    font-size: 1.2rem;
}
.card-content{
    padding-left: 1.2rem;
    font-size: 0.85rem;
}