.form-control input{
    width: 100%;
    font-family: "Montserrat";
    font-weight: 900;
    border: 3px solid #E1E1E1;
    border-radius: 6px;
    margin-top: 2rem;
    padding: 0.8rem 1rem;
    transition: border 0.3s ease;
}
.form-control input:focus{
    border: 3px solid #070707;
    outline: none;
}